<!doctype html>

<html>
<head>
  <title>James Cameron Abreu - Resume Site</title>
  <meta charset="UTF-8">
  <link rel='stylesheet' type='text/css' href='/css/styles.css'>
  <script src="scripts/jquery-3.3.1.min.js"></script>
</head>

<body>

  <div id="siteBody">


    <div id="header">
    </div>


    <div id="titleBar">
    </div>


    <!-- BODY -->
    {{{body}}}



    <div id="footer">
    </div>



  </div>


</body>

</html>
